html { font-size: 100%; }
		body {
			width: 900px;
			margin: 30px auto;
			font-size: 0.9em;
			background: #eee;
			color: #777;
			text-shadow: 1px 1px 0 #fff;
		}
		h1 { text-align: center; }
		/* drop down menu styles */
		#menu a { 
			display:block; 
			color: #fff;
			text-decoration:none;
			text-shadow: 0 0 0;
		}
		#menu {
			margin-top: 5em;
			text-align:center;
			padding-left: 0;
		}
		#menu > li,
		#menu > li li {
			position: relative;
			display:inline-block;
			list-style: none;
			width: 110px;
			padding: 6px 15px;
			text-align: left;
			background-color: #777;
			background-image: -webkit-linear-gradient(#aaa, #888 50%, #777 50%,#999);
			background-image: -moz-linear-gradient(#aaa, #888 50%, #777 50%,#999);
			background-image: -ms-linear-gradient(#aaa, #888 50%, #777 50%,#999);
			background-image: -o-linear-gradient(#aaa, #888 50%, #777 50%,#999);
			background-image: linear-gradient(#aaa, #888 50%, #777 50%,#999);
		}
		#menu > li { zoom:1;}
		#menu > li li { background: transparent none; }
		#menu > li li a { color: #444; }
		#menu > li li:hover { background:#eee; }
		#menu > li:first-child {
			border-right: 1px solid #777;
			-webkit-border-radius: 8px 0 0 8px;
			-moz-border-radius: 8px 0 0 8px;
			border-radius: 8px 0 0 8px;
		}
		#menu>li + li {
			border-left: 1px solid #aaa;
			border-right: 1px solid #777;
		}
		#menu>li:last-child {
			border-right:0;
			border-left: 1px solid #aaa;
			-webkit-border-radius: 0 8px 8px 0 ;
			-moz-border-radius: 0 8px 8px 0 ;
			border-radius: 0 8px 8px 0 ;
		}
		#menu ul {
			position: absolute;
			top: 1.95em; left:0;
			max-height:0em;
			margin:0; padding:0;
			background-color:#ddd;
			background-image: -webkit-linear-gradient(#fff,#ddd);
			background-image: -moz-linear-gradient(#fff,#ddd);
			background-image: -ms-linear-gradient(#fff,#ddd);
			background-image: -o-linear-gradient(#fff,#ddd);
			background-image: linear-gradient(#fff,#ddd);
			overflow:hidden;
			-webkit-transition: 1s max-height 0.3s;
			-moz-transition: 1s max-height 0.3s;
			-ms-transition: 1s max-height 0.3s;
			-o-transition: 1s max-height 0.3s;
			transition: 1s max-height 0.3s;
			-webkit-border-radius: 0 0 8px 8px;
			-moz-border-radius: 0 0 8px 8px;
			border-radius: 0 0 8px 8px;
		}
		#menu>li:hover {
			background-color: #999;
			background-image: -webkit-linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
			background-image: -moz-linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
			background-image: -ms-linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
			background-image: -o-linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
			background-image: linear-gradient(#ccc, #aaa 50%, #999 50%,#bbb);
		}
		#menu>li:hover ul {
			/* need an adaptation, lower is better, but see it large ;) */
			max-height:13em;
		}
		p {
			text-align: center;
			margin-top: 6em;
		}
		.ie7 #menu > li {
			display: inline;
			zoom:1;
		}@charset "ISO-8859-1";