.fkty {
  font-family: 'Inter', sans-serif;
  font-size: 23px; /* Ajustez la taille de la police selon vos préférences */
  font-weight: 999; /* Applique le style gras */
  font-style: italic; /* Applique le style italique */
  position: fixed;
  bottom: 0px; /* Ajustez la position verticale depuis le bas selon vos besoins */
  right: 7px; /* Ajustez la position horizontale selon vos besoins */
  margin : 0;
  padding : 0;
}

/* Assurez-vous de charger la police Inter dans votre fichier HTML ou via CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
