.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); /* Ajustez selon la hauteur de votre header */
}

/* Appliquez la classe "center-form" à votre formulaire */
form.additem {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

label.additem,
.inputitem,
select.inputitem,
textarea.inputitem,
input[type="submit"] {
    margin-bottom: 5px;
}

label.additem {
    display: block;
    margin-top: 15px; /* Ajoutez cette ligne pour un espace supplémentaire au-dessus de chaque label */
    margin-bottom: 8px;
    font-size: 14px;
}

label[for="dateD"] { margin-top: 15px; }

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover { background-color: #2980b9; }