@charset "UTF-8";
@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  border: 20px solid #fff; /* Bordure blanche tout autour */
  color: rgb(255, 255, 255);
}

header {
	width: 100%;
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

/* Main content container */
nav {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	color: rgb(255, 255, 255);
}

.userConnect {
	font-size: 15px;
	color: rgb(91, 91, 91);
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	text-align: left;
	margin-left: 175px;
}

.credit {
	color: green;
	font-weight: bold;
}

/*===============================================================================*/
/*===============================================================================*/
/* Début Container pour le formulaire de connexion et le lien d'inscription */
.container_connect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  margin-top: 10px; /* Ajoute une marge de 10px en haut */
}


form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Champ de saisie */
    input {
		color: rgb(64, 64, 64);
		padding: 5px 10px;
		border: 2px solid rgb(225, 241, 255);
		border-radius: 5px;
		font-size: 16px;		
		box-sizing: border-box;
		margin-right: 15px; /* Ajoute de l'espace en bas de chaque champ de saisie */
    }
    
    input[type="email"] {
    	color: rgb(64, 64, 64);
  		font-size: 13px;
  		font-family: 'Inter', sans-serif;
  		width: 300px;
	}
    
    input[type="password"] {
    	color: rgb(64, 64, 64);
  		font-size: 13px;
  		font-family: 'Inter', sans-serif;
  		width: 200px;
	}

    input:focus {
		color: rgb(64, 64, 64);
		outline: none;
		border-color: rgb(170, 227, 255); /* Couleur de la bordure au focus */
    }

    ::placeholder {
      color: #95a5a6; /* Couleur du texte de l'attribut placeholder */
    }
/* */

button, a.btn_connect {
	color: #fff;
  	margin: 5px;
}

button {
  padding: 7px 20px;
  border: none;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #333; /* Change la couleur de fond au survol */
  border-color: #333; /* Change la couleur de la bordure au survol */
  color: #fff; /* Change la couleur du texte au survol */
}

/* Style du lien d'inscription */
.btn_connect {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px; /* Ajustez le rayon pour obtenir une forme ovoïde */
  background-color: #000; /* Fond noir */
  color: #fff; /* Texte blanc */
  text-decoration: none; /* Supprime le soulignement du lien */
  font-family: 'Inter', sans-serif; /* Utilisez la police Inter ou ajustez selon vos préférences */
  font-size: 13px;
  font-weight: 400;
}

.btn_connect:hover {
  background-color: #333; /* Change la couleur de fond au survol */
  border-color: #333; /* Change la couleur de la bordure au survol */
  color: #fff; /* Change la couleur du texte au survol */
}
/* Fin Container pour le formulaire de connexion et le lien d'inscription */
/*===============================================================================*/