@charset "UTF-8";
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  border: 20px solid #fff; /* Bordure blanche tout autour */
}

header {
	width: 100%;
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	height: 0; /* Ajustez la hauteur selon vos besoins */
}

/* Main content container */
nav {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
}

.userConnect {
  font-size: 15px;
  color: rgb(91, 91, 91);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-align: left;
  margin: 0 350px;
}

.credit {
	color: green;
	font-weight: bold;
}

/*===============================================================================*/
/*===============================================================================*/
/* Début Container pour le formulaire de connexion et le lien d'inscription */
.container-connect {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

form.connectdb {
  display: flex;
  align-items: baseline; /* Aligne les éléments sur leur ligne de base */
}

.connectdb {
  margin-top: 0;
  margin-right: 10px; /* Ajoute une marge entre les éléments */
}

/* Champ de saisie */
    .connectdb input {
		color: rgb(64, 64, 64);
		padding: 5px 10px;
		border: 2px solid rgb(225, 241, 255);
		border-radius: 5px;
		font-size: 16px;		
		box-sizing: border-box;		
		margin: 15px;
    }
    
    .connectdb input[type="email"] {
    	color: rgb(64, 64, 64);
  		font-size: 13px;
  		font-family: 'Inter', sans-serif;
  		width: 300px;
  		margin-top: 0;
	}
    
    .connectdb input[type="password"] {
    	color: rgb(64, 64, 64);
  		font-size: 13px;
  		font-family: 'Inter', sans-serif;
  		width: 200px;
  		margin-top: 0;
	}

    .connectdb input:focus {
		color: rgb(64, 64, 64);
		outline: none;
		border-color: rgb(170, 227, 255); /* Couleur de la bordure au focus */
    }

    ::placeholder {
      color: #95a5a6; /* Couleur du texte de l'attribut placeholder */
    }
/* */

.connectdb button {
  padding: 7px 20px;
  border: none;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  margin: 0;
}

.connectdb button:hover {
  background-color: #333; /* Change la couleur de fond au survol */
  border-color: #333; /* Change la couleur de la bordure au survol */
  color: #fff; /* Change la couleur du texte au survol */
}

.connectdb button, a.btn_register {
	color: #fff;
  	margin: 0 5px;
}

/* Début du Style du label "Se souvenir de moi" */
.container-connect label {
  display: inline-block; /* Permet d'ajuster la verticalité et l'espacement */
  vertical-align: middle; /* Alignement vertical */
  margin: 0 5px; /* Espacement en bas */
  color: #000;
  font-size: 12px; /* Vous pouvez ajuster la taille selon vos besoins */
  line-height: 0; /* Ajustez cette valeur pour un meilleur alignement vertical */
}

#rememberMe {
  margin: 0;
  vertical-align: middle; /* Alignement vertical avec le texte */
}

.forget-mdp {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
  margin: 0 25px;
}
/* Fin du Style du label "Se souvenir de moi" */


/* Style du lien d'inscription */
.btn-register{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px; /* Ajustez le rayon pour obtenir une forme ovoïde */
  background-color: #000; /* Fond noir */
  color: #fff; /* Texte blanc */
  text-decoration: none; /* Supprime le soulignement du lien */
  font-family: 'Inter', sans-serif; /* Utilisez la police Inter ou ajustez selon vos préférences */
  font-size: 13px;
  font-weight: 400;
}

.btn-register:hover {
  background-color: #333; /* Change la couleur de fond au survol */
  border-color: #333; /* Change la couleur de la bordure au survol */
  color: #fff; /* Change la couleur du texte au survol */
}
/* Fin Container pour le formulaire de connexion et le lien d'inscription */
/*===============================================================================*/
/*===============================================================================*/
/* Début Fil d'Ariane */
#breadcrumb {
  	position: absolute;
  	left: 45px;
  	top: 80px;



    font-size: 14px;
    color: rgb(91, 91, 91);
}

#breadcrumb a {
    color: rgb(91, 91, 91);
    text-decoration: none;
}

#breadcrumb a:hover {
    text-decoration: underline;
}

#breadcrumb span {
    color: #ccc;
}