/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

/* Welcome container */
.welcome_message {
  width: 100%;
  max-width: 100%;
  /*height: 100em; /* Hauteur de 100% de la vue */
}

/* Section avec arrière-plan jaune */
.yellow_background {
  background: linear-gradient(to bottom, #fff7ee, #ffffff); /* Dégradé du jaune (#fdd835) vers le blanc (#ffffff) */
  padding-top: 1px; /* Ajuster la valeur selon l'espace que doit occuper le header */
  margin-top: 50px; /* Ajuster la valeur pour déplacer l'arrière-plan vers le bas */
}

/* Slogan container */
.slogan {
  margin-top: 70px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.slogan p {
  font-size: 70px;
  text-align: left;
  text-transform: capitalize;
  line-height: 0.01;
  font-family: 'Inter', sans-serif;
  margin-left: 20px;
  font-weight: 500;
}

.slogan p:nth-child(2) {
  font-family: 'Sawarabi Mincho', sans-serif;
}

.slogan p:nth-child(3) {
  font-family: 'Inter', sans-serif;
  text-transform: lowercase;
}

/* Main content container */
p.title_encheres {
  display: inline-block;
  margin-top: -10px; /* Ajustez la valeur négative pour monter l'élément */
  margin-left: 40px; /* Aligner à gauche */
  margin-bottom: 0;
  padding: 10px 40px;
  border: 1px solid rgb(205, 205, 205); /* Couleur du contour noir */
  border-radius: 25px; /* Ajustez le rayon pour obtenir une forme ovoïde */
  background-color: rgba(255, 255, 255, 0.5); /* Fond transparent */
  color: #000; /* Couleur du texte */
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif; /* Utilisez la police Inter ou ajustez selon vos préférences */
}

.title_encheres a.consult_encheres:visited {
    color: rgb(0, 0, 0);
}
				
/* Image container */
.image-container_items {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.image-container_items {
  width: 1300px;
  height: 430px;
}