.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    text-align: center;
}

.text-cell {
    display: inline-block;
    margin-right: 10px; /* Espace entre les cellules */
}

.text-cell .article-info {
    border: 1px solid #000;
    padding: 10px;
    height: 300px; /* Hauteur fixe pour les cellules, ajustez selon vos besoins */
    overflow: hidden; /* Pour gérer le débordement du contenu si nécessaire */
    margin: 0; /* Pour supprimer tout espace autour du paragraphe */
	font-size: 10px;
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}

.title-detailItem {
    text-decoration: underline; /* Soulignage */
    margin-right: 5px; /* Espacement entre le titre et la valeur */
	font-size: 10px;
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 800;
}
