.items-info-index {
    border: 1px solid #000;
    padding: 25px;
    height: 330px; /* Hauteur fixe pour les cellules, ajustez selon vos besoins */
    width: 330px; /* Hauteur fixe pour les cellules, ajustez selon vos besoins */
    overflow: hidden; /* Pour gérer le débordement du contenu si nécessaire */
    margin-left: 20px; /* Pour supprimer tout espace autour du paragraphe */
	font-size: 10px;
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	border-radius: 10px;
}

.title-detailItem {
    text-decoration: underline; /* Soulignage */
    margin-right: 5px; /* Espacement entre le titre et la valeur */
    color: #002842; /* Couleur du texte */
	font-size: 12px;
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
}

p.indexItem {        
	margin-bottom: 15px; /* Marge en bas pour un espacement visuel */
	line-height: 1.4; /* Hauteur de ligne pour une meilleure lisibilité */
	color: #3c4246; /* Couleur du texte */
	font-size: 12px;
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

.readmore a {
    color: #007BFF;
    font-size: 12px;
    text-decoration: underline;
}