/* Style pour le tableau */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px; /* Espace au-dessus du tableau */
}

/* Style pour les en-têtes de colonnes */
.styled-table th {
  background-color: #f2f2f2; /* Couleur de fond pour les en-têtes */
  text-align: center;
  padding: 12px;
  font-weight: bold;
  border: 1px solid #ddd;
  color: rgb(59, 59, 59);
  font-size: 13px;
  font-family: 'Inter', sans-serif;
}

/* Style pour les cellules dans le corps du tableau */
.styled-table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  color: rgb(100, 100, 100);
  font-size: 13px;
  font-family: 'Inter', sans-serif;
}

/* Style pour les lignes impaires, changez les couleurs selon vos préférences */
.styled-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Style pour les lignes au survol */
.styled-table tbody tr:hover {
  background-color: #e5e5e5;
}