.myItems-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer horizontalement les éléments */
    align-items: flex-start; /* Aligner les éléments en haut de la ligne */
    width: 100%;
    margin: 0 auto; /* Ajuster la marge pour centrer horizontalement */
    overflow: hidden;
}

.myItems-info {
    border: 1px solid #000;
    padding: 25px;
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    font-size: 10px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    float: left;
    border-radius: 10px;
    overflow: hidden; /* Ajoutez overflow: hidden pour gérer le débordement d'image */
}

.item-image {
    width: 100%; /* Forcez la largeur de l'image à 100% */
    height: auto; /* Pour conserver le ratio d'aspect de l'image */
    display: block; /* Pour éviter les espaces blancs en dessous de l'image */
}

.myItems {
	
	background-color: white;
    color: #408080;
    padding: 10px; /* Ajoutez un espace intérieur si nécessaire */
    text-decoration: none; /* Supprime le soulignement du lien */
	margin: 20px 0;      
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	border: 1px solid #408080;
	border-radius: 5px;	
	transition: color 0.3s, border-color 0.3s, font-weight 0.3s; /* Ajout de transitions */
}

.myItems a {
	text-decoration: none;
	color: #408080;
}

.myItems a:hover { text-decoration: underline; }

div.myDescContent {
	height: 100px; /* Permet au contenu de prendre 100% de la hauteur de l'élément parent */
	padding-bottom: 25px;
}

p.myArticleContent {        
	line-height: 1.4; /* Hauteur de ligne pour une meilleure lisibilité */
	color: #3c4246; /* Couleur du texte */
	font-size: 12px;
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 20; /* Limitez le texte à 3 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

span.prixInit {        
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgb(128, 64, 64);
}

.mycountdown {
	color: red;
	line-height: 1.5;
	width: 100%;
	text-align: center;
}

/*Début ViewedMyProfile"*/
.edit-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px; /* Augmentez la marge pour plus d'espace */
  font-size: 16px;
  color: #fff; /* Texte blanc */
  font-family: "Helvetica", sans-serif;
  padding: 10px 20px; /* Ajustez la valeur du padding pour augmenter la hauteur */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: #ff8c00; /* Fond orange */
  transition: background-color 0.3s; /* Animation de transition pour le survol */
}

.edit-item:hover {
  background-color: #ffa54f; /* Fond orange plus clair au survol */
}

.delete-item {
  text-decoration: none;
  background-color: #fff;
  color: #ccc;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid #800000; /* Bordeaux */
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s, border-color 0.3s, font-weight 0.3s; /* Ajout de transitions */
  float: right; /* Float the delete account link to the right */
  margin-left: 20px; /* Add spacing between the two buttons */
}

.delete-item:hover {
  color: #f00;
  border-color: #f00;
}
/*Fin ViewedMyProfile"*/