@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing : antialiased;
}

body {}

.title-eni {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin-top: 60px; /* Ajustez cette valeur pour aligner le titre à la même hauteur que le slogan */
}

/* Début Style spécifique pour le titre h1 */
.container-h1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.title-eni {
  position: absolute;
  right: 150px;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.title-eni h1 {
  margin: 0;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-style: italic;
  color: #615856;
  opacity: 0.2;
  display: flex; /* Permet à l'image d'être alignée à côté du titre */
  align-items: center; /* Aligne verticalement le contenu du titre */
}

.logo-eni {
	position: absolute;
	right: 80px;
	top: 180px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
	opacity: 0.3;
}
/* Fin Style spécifique pour le titre h1 */
        
h2 {
	font-family: 'Inter', sans-serif;
	text-align: center;
  	margin-top: 100px;
  	margin-bottom: 35px;
  	/*text-transform: uppercase;*/
  	font-size: 23px;
  	font-weight: 400;
}

h3 {
      background-color: #3498db;
      color: #fff;
      padding: 10px;
      text-align: center;
      margin: 20px 0;
}

h3 a {
      text-decoration: none;
      color: #fff;
}

h3 a:hover { text-decoration: underline; }
