@charset "UTF-8";

.profile-information {
  margin: 20px auto; /* Utilisation de 'auto' pour centrer horizontalement */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  min-height: 550px;
}

.user-details {
  margin-bottom: 20px;
  font-family: "Helvetica", sans-serif;
}

.user-details .title-vwdMyProfile {
    font-weight: bold;
}